@font-face {
    font-family: Raleway;
    src: url(../font/Raleway/static/);
}

* {
    font-family: Raleway;
}

.secondary-color{
    color: rgba(51, 168, 219, 1);
}

.style-titlestyle-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    letter-spacing: 0.19em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


