# Created by https://www.toptal.com/developers/gitignore/api/font
# Edit at https://www.toptal.com/developers/gitignore?templates=font

### Font ###
*.fnt
*.fon
*.otf
*.ttf

# End of https://www.toptal.com/developers/gitignore/api/font